.message {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.message .timestamp {
  display: flex;
  justify-content: center;
  color: #999;
  font-weight: 600;
  font-size: 12px;
  margin: 10px 0px;
  text-transform: uppercase;
}

.message .bubble-container {
  font-size: 14px;
  display: flex;
  align-items: center;
}

.message.mine .bubble-container {
  justify-content: flex-end;
}

.message.start .bubble-container .bubble {
  border-top-left-radius: 10px;
}

.message.end .bubble-container .bubble {
  border-bottom-left-radius: 10px;
}

.message.mine.start .bubble-container .bubble {
  margin-top: 2px;
  border-top-right-radius: 10px;
}

.message.mine.end .bubble-container .bubble {
  border-bottom-right-radius: 10px;
  margin-bottom: 2px;
}

.message .bubble-container .bubble {
  margin: 1px 0px;
  background: #f4f4f8;
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 75%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
}

.message.mine .bubble-container .bubble {
  background: #007aff;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px 1rem;
}

.bubble-time {
  color: gray;
  font-size: 0.5rem;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 2rem;
}

.bubble-time img{
  margin-right: 4px;
}